@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #222;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.card {
  background: linear-gradient(to top, #77e2f7, #0e54ac);
  width: 450px;
  margin-top: 5rem;
  border-radius: 20px;
  padding: 20px 30px;
  text-align: center;
}

.card .search {
  display: flex;
  justify-content: space-between;
}

.search input {
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  margin-right: 1.5rem;
  border: none;
  outline: none;
  background-color: #d6f0f5;
  font-size: 15px;
}

.search .search-btn {
  width: 60px;
  border-radius: 50%;
  background-color: #d6f0f5;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-btn img {
  width: 15px;
  object-fit: contain;
}
.weather {
  margin: 0.5rem 0;
  display: none;
}

.weather-icon {
  width: 40%;
}

.weather h1 {
  font-size: 60px;
  font-weight: 600;
}

.weather h2 {
  font-size: 35px;
  font-weight: 450;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 25px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 0.5rem;
}

.col img {
  width: 40px;
  margin-top: 0.5rem;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.error {
  margin-top: 1rem;
  display: none;
}

@media screen and (max-width: 786px) {
  .container {
    width: 100%;
    /* margin: 0.5rem; */
  }
  .card {
    width: 95%;
    /* margin: 1rem; */
  }
  .search .search-btn {
    width: 70px;
  }
  .weather h1 {
    font-size: 45px;
    /* margin: ; */
  }
  .details {
    padding: 0;
    margin-top: 15px;
  }
  .weather h2 {
    font-size: 30px;
  }
  .col img {
    width: 30px;
  }
  .humidity,
  .wind {
    font-size: 15px;
  }
}
